<!DOCTYPE html>
<html>
  <head>
    <title>CacophonyApp</title>
    <% if logged_in? %>
      <%private_servers = Array.new%>
      <%public_servers = Array.new%>
      <%current_user.servers.each do |server|%>
          <%if server.private == true%>
            <%private_servers.push(server.id)%>
          <% else %>
            <% public_servers.push(server.id) %>
          <% end %>
      <%end%>
      <%friends = []%>
      <%current_user.fellow_server_members.each do |member|%>
          <%friends.push(member.id) unless member.id == current_user.id%>
      <%end%>
      <script type="text/javascript">
        window.currentUser = 
          {<%=current_user.id%>: {"id": <%=current_user.id%>, 
          "username": "<%=current_user.username%>",
          "privateServers": <%=private_servers%>,
          "publicServers": <%=public_servers%>,
          "fellowServerMembers": <%=friends%>}}
       </script>
    <% end %>
    <script type="text/javascript">
      window.bnwlogo = "<%= image_url('from_discord/black_and_white_logo.png') %>";
      window.tlogo = "<%= image_url('homepage/pngwing.com.png') %>";
      window.tleft = "<%= image_url('homepage/top-home.svg') %>";
      window.tright = "<%= image_url('homepage/top-right.svg') %>";
      window.ballons = "<%= image_url('homepage/balloons.svg') %>";
      window.ship = "<%= image_url('homepage/ship.svg') %>";
      window.tclouds = "<%= image_url('homepage/transparentish-clouds.svg') %>";
      window.tcastle = "<%= image_url('homepage/transparentish-castle.svg') %>";
      window.acloud = "<%= image_url('homepage/another-cloud.svg') %>";
      window.demouser = "<%= image_url('demo_user_avatar.PNG') %>";
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
