<!DOCTYPE html>
<html>
  <head>
    <title>CacophonyApp</title>
    <link rel="shortcut icon" type="image/jpg" href="<%= image_url('from_discord/logo_icon.ico') %>"/>
    <% if logged_in? %>
      <%private_servers = Array.new%>
      <%public_servers = Array.new%>
      <% private_server_friends = Array.new %>
      <%current_user.servers.each do |server|%>
          <%if server.private == true%>
            <%private_servers.push(server.id)%>
            <% private_server_friends.push(server.recipient_id) unless server.recipient_id == current_user.id %>
            <% private_server_friends.push(server.owner_id) unless server.owner_id == current_user.id %>
          <% else %>
            <% public_servers.push(server.id) %>
          <% end %>
      <%end%>
      <%friends = []%>
      <%current_user.fellow_server_members.each do |member|%>
          <%friends.push(member.id) unless member.id == current_user.id%>
      <%end%>
      <script type="text/javascript">
        window.currentUser = 
          {"id": <%=current_user.id%>, 
          "username": "<%=current_user.username%>",
          "privateServers": <%=private_servers.uniq%>,
          "publicServers": <%=public_servers.uniq%>,
          "fellowServerMembers": <%=friends.uniq%>,
          "privateServerFriends": <%=private_server_friends.uniq%>}
       </script>
    <% end %>
    <script type="text/javascript">
      window.bnwlogo = "<%= image_url('from_discord/black_and_white_logo.png') %>";
      window.tlogo = "<%= image_url('homepage/pngwing.com.png') %>";
      window.tleft = "<%= image_url('homepage/top-home.svg') %>";
      window.tright = "<%= image_url('homepage/top-right.svg') %>";
      window.ballons = "<%= image_url('homepage/balloons.svg') %>";
      window.ship = "<%= image_url('homepage/ship.svg') %>";
      window.tclouds = "<%= image_url('homepage/transparentish-clouds.svg') %>";
      window.tcastle = "<%= image_url('homepage/transparentish-castle.svg') %>";
      window.acloud = "<%= image_url('homepage/another-cloud.svg') %>";
      window.demouser = "<%= image_url('demo_user_avatar.PNG') %>";
      window.smalllogo = "<%= image_url('from_discord/logo_icon.ico') %>";
      window.whiteontback = "<%= image_url('pngfind.com-discord-icon-png-283551.png') %>";
    </script>
    <script src="https://kit.fontawesome.com/cf1f8fa8bf.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
